<!DOCTYPE html>
<html>
<head>
    <title>Liste des cheptels</title>
</head>
<body>
    <h1>Liste des cheptels</h1>
    <ul>
        {% for beeyard in beeyards %}
            <li>{{ beeyard.name }} - Responsable : {{ beeyard.apiculteur}} - Ruches : 
                <ul>
                    {% for hive in beeyard.hives.all %}
                    <li>
                        {{hive}}
                    </li>
                        {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>